<a href='https://www.darshan.ac.in/'> <img src='https://www.darshan.ac.in/Content/media/DU_Logo.svg' width="250" height="300"/></a>
<pre>
<center><b><h1>Python Programming - 2301CS404</b></center>
<center><b><h1>Name:- Jay Vegad</b></center>
<center><b><h1>Enrollment: 23010101294</b></center>
<center><b><h1>Lab - 6</b></center>    
<pre>

# Tuple

### 01) WAP to find sum of tuple elements.

In [2]:
t = (1,2,3,4,5,6,23,1,)
print(sum(t))

21

### 02) WAP to find Maximum and Minimum K elements in a given tuple.

In [1]:
tup = (1,6,3,2,9,6)
k = 2
t1 = list(tup)
t1.sort()

for i in range(k):
    print(t1[i])
    print(t1[-i+1])

1
2
2
1

### 03) WAP to find tuples which have all elements divisible by K from a list of tuples.

In [3]:
l1 = [(1,2,3,4),(5,6,7,8),(2,4,6,8),(1,2,5,7),(5,10)]
k = 2
count = 0

for i in l1:
    for j in i:
        if j % k != 0:
            count += 1
            
    if count == 0:
        print(i)
    count = 0

(2, 4, 6, 8)

### 04) WAP to create a list of tuples from given list having number and its cube in each tuple.

In [4]:
l1 = [1,2,3,4,5,6]

ans = [(i,i**3) for i in l1]
ans

[(1, 1), (2, 8), (3, 27), (4, 64), (5, 125), (6, 216)]

### 05) WAP to find tuples with all positive elements from the given list of tuples.

In [6]:
l1 = [(1,2,3,4),(5,-6,7,8),(2,4,6,8),(1,-2,5,7),(5,-10)]
count = 0

for i in l1:
    if all(j>0 for j in i):
        print(i)

(1, 2, 3, 4)
(2, 4, 6, 8)

### 06) WAP to add tuple to list and vice â€“ versa.

In [20]:
tuple_example = (1, 2, 3)
list_example = [5, 6, 7]

original_list = [123, True, "Ramji Premji", ['a', 's', 'd', 'f']]
original_list.append(tuple_example)

original_tuple = (1, 2, 4, 6, 8, 4)

original_tuple = list(original_tuple)
original_tuple.append(list_example)
original_tuple = tuple(original_tuple)
original_tuple

(1, 2, 4, 6, 8, 4, [5, 6, 7])

### 07) WAP to remove tuples of length K.

In [7]:
l1 = [(1,2,3,6),(1,2,5,7),(5,-6,7,8,9),(2,4,6,8),(5,-10),(1,1,1,1),(2,2,2,2)]
l2 = l1.copy()
k = 4

for i in l2:
    if len(i) == k:
        l1.remove(i)
print(l1)

[(5, -6, 7, 8, 9), (5, -10)]

### 08) WAP to remove duplicates from tuple.

In [8]:
tup = (1,1,2,3,4,3,6,8,9,9)
tup = set(tup)
tup = tuple(tup)
tup

(1, 2, 3, 4, 6, 8, 9)

### 09) WAP to multiply adjacent elements of a tuple and print that resultant tuple.

In [58]:
tup1 = (1,2,3,4,5)
tup1 = list(tup1)

ans = [(i*(i+1)) for i in range (1,len(tup1))]
ans

[2, 6, 12, 20]

### 10) WAP to test if the given tuple is distinct or not.

In [9]:
l1 = [(1,2,3,6),(1,2,5,7),(5,-6,7,8,9),(1,2,3,6),(5,-10),(1,1,1,1),(2,2,2,2)]

tup = (1,2,3,4,5)
t1 = list(tup)
t2 = set(tup)

if len(t1) == len(t2):
    print("No dups")
else:
    print("has dups")

No dups

In [10]:
l1 = [(1,2,3,6),(1,2,5,7),(5,-6,7,8,9),(1,2,3,6),(5,-10),(1,1,1,1),(2,2,2,2)]

for i in range(len(l1)):
    for j in l1[i+1:]:
        if l1[i] == j:
            print(l1[i])

(1, 2, 3, 6)